-- :set prompt "\x03BB > "
-- :set prompt-cont "\x03BB | "
:set prompt "\ESC[34mλ > \ESC[m"
:set prompt-cont "\ESC[34mλ | \ESC[m"

:set editor vim

-- :unset +t
-- :set +t
-- :set +s
-- :set -fprint-explicit-foralls
-- :set -XNoStarIsType
:set -XTypeApplications
:set -XOverloadedStrings
-- :set -XOverloadedLists
